#env
.detection_env
__pycache__
data
.vscode

unmaskme-env/

mask_detection/.ipynb_checkpoints

mask_detection/mask_dataset
mask_detection/dataset
*/.ipynb_checkspoints
input/*
data/*
mask_segmentation/data/*
mask_segmentation/.ipynb_checkpoints

ccgan/images/
ccgan/models/

# Ignore downloadable files
model_weights/
datasets/celeba
datasets/dataset
datasets/mask
MaskTheFace/
dlib_models/
