av==8.0.3
dl==0.1.0
dload==0.6
imutils==0.5.4
matplotlib==3.4.2
numpy==1.19.5
opencv-python==4.5.4.58
Pillow==8.4.0
PyYaml==6.0
streamlit==1.2.0
streamlit_webrtc==0.31.2
torch==1.10.0
torchvision==0.11.1
tqdm==4.61.0
scikit-image==0.19.1
scikit_learn==1.0.2

